<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="tab3">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Busqueda</ion-label>
    </ion-tab-button>
-->
  </ion-tab-bar>

</ion-tabs>
