<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>{{restauranteActual.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card>
        <ion-img [src]="restauranteActual.imagen"></ion-img>
    </ion-card>

    <ion-card>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Calificación de los Usuarios</h3>
        <rating [rate]="calificacionProm" readonly="true">
        </rating>
      </ion-col>
    </ion-row>
    </ion-card>

    <ion-card>

    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Menu</h3>
        <ion-list *ngFor="let menu of menu">
          <h4 class="ion-text-center">{{menu}}</h4>
        </ion-list>
      </ion-col>
<!--
      <ion-col>
        <h3 class="ion-text-center">Calorias</h3>
        <ion-list *ngFor="let menu of menu">
          <h4 class="ion-text-center">{{menu}}</h4>
        </ion-list>
      </ion-col>
-->
    </ion-row>

  </ion-card>

    <ion-card>
      <ion-row>
        <ion-col>
          <h3 class="ion-text-center">Dirección</h3>
          <h4 class="ion-text-center">{{restauranteActual.direccion}}</h4>
        </ion-col>
      </ion-row>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-label>Notas</ion-label>
        <ion-textarea rows="6" cols=30 placeholder="Deja tus opiniones aqui..."></ion-textarea>
      </ion-item>
    </ion-card>
    
    <div class="boton">
      <ion-button  class="botong" Href="/">Guardar</ion-button>
    </div>
     
   
   

  </ion-grid>
</ion-content>
