<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let restaurante of restaurantes" [routerLink]="['/detalles', restaurante.id]">
      <ion-img [src]="restaurante.imagen"></ion-img>

      <ion-card-header>
        <ion-card-title>
          {{restaurante.nombre}}
        </ion-card-title>
        <ion-card-subtitle>
          {{restaurante.tipoComida}}
        </ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </ion-list>
</ion-content>
